<h1>Editando..</h1>

<%= form_for @restaurante do |f| %>
  Nome:<br/> <%= f.text_field :nome %><br/>
  Endereço: <br/><%= f.text_field :endereco %><br/>
  Especialidade: <br/><%= f.text_field :especialidade %><br/>
  Senha: <br/><%= password_field_tag(:especialidade) %><br/>

  <%= render partial: 'form' %>

  <%= f.submit "Atualizar"%>
<% end %>

<h3><%= link_to "Voltar", action: 'index'%></h3>


