<html>
<head>
         <title></title>
</head>
	<body>
		<h3> <%= link_to 'Home', controller: 'inicio', action: 'index' %> </h3>
		<h2 style="color:cornflowerblue "> Restaurantes</h2>

		<%= form_tag("/search", method: "get") do %>
		  <%= label_tag(:q, "Procurar restaurantes:") %>
		  <%= text_field_tag(:q) %>
		  <%= submit_tag("Search") %>
		<% end %>
		<br/>

		<% if @restaurantes.empty? %>
			<div class="popup">
				Nenhum nome
			</div>
		<% else %>
			<% @restaurantes.each do |rest| %>
				<li><b> Nome:</b> <%= rest.nome %> </li>
				<p> 
					<%= link_to 'Mostrar', action: 'show', id: rest%>
					<%= link_to 'Deletar', {action: 'destroy', id: rest}, {method: 'delete'} %> 
					<%= link_to 'Editar', action: 'edit', id: rest %>
				</p>
				<br/>
			<% end %>
		<% end %>
		<h3> <%= link_to 'New', action: 'new' %> </h3>
	</body>


</html>