<p id="notice"><%= notice %></p>

<p><h3> <%= link_to 'Home', controller: 'inicio', action: 'index' %>
<h1 style="color: cornflowerblue">Comentarios</h1>

<table>
  <thead>
    <tr>
      <th>Conteudo</th>
      <th>Author</th>
      <th colspan="100"></th>
    </tr>
  </thead>

  <tbody>
    <% @comentarios.each do |comentario| %>
      <tr>
        <td><%= comentario.conteudo %></td>
        <td><%= comentario.author %></td>
        <td><%= link_to 'Show', comentario %></td>
        <td><%= link_to 'Edit', edit_comentario_path(comentario) %></td>
        <td><%= link_to 'Destroy', comentario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comentario', new_comentario_path %>
