<html>
<head>
         <title></title>
</head>
	<body>
		<h2 style="color:cornflowerblue "> Restaurantes</h2>
		<% if @restaurantes.empty? %>
			<div class="popup">
				Nenhum nome
			</div>
		<% else %>
		<%= link_to 'Novo', action: 'new' %>
			<% @restaurantes.each do |rest| %>
				<li><b> Nome:</b> <%= rest.nome %> </li>
				<p> 
					<%= link_to 'Mostrar', action: 'show', id: rest%>
					<%= link_to 'Deletar', {action: 'destroy', id: rest}, {method: 'delete'} %> 
					<%= link_to 'Inicio', controller: 'inicio', action: 'index' %>
					<%= link_to 'Editar', action: 'edit', id: rest %>
				</p>
			<% end %>
		<% end %>
	</body>

</html>